@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@utility container {
	width: 100%;
	max-width: 120rem;
	margin-inline: auto;
	padding-inline: 0;

	/* desktop and up */
	@media (width >= 1280px) {
		padding-inline: 4rem;
	}
}

:root {
	--header-height: 4rem;
	--background: #f5ede3;
	--foreground: #1e3d47;
	--card: oklch(1 0 0);
	--card-foreground: #1e3d47;
	--popover: #f5ede3;
	--popover-foreground: #1e3d47;
	--primary: #345f6e;
	--primary-foreground: #1e3d47;
	--primary-muted: #1a3d47;
	--secondary: #e5ab7f;
	--secondary-foreground: #1e3d47;
	--secondary-muted: #bd7a5a;
	--radius: 0.625rem;
	/*--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);*/
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.871 0.006 286.286);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	/*--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.871 0.006 286.286);*/
}

.dark {
	/*--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--primary-muted: oklch(0.787 0.0622 247.14);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--secondary-muted: oklch(0.8435 0.1094 65.42);*/
	/*--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);*/
	/*--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.274 0.006 286.033);
	--input: oklch(0.274 0.006 286.033);
	--ring: oklch(0.442 0.017 285.786);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);*/
	/*--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.274 0.006 286.033);
	--sidebar-ring: oklch(0.442 0.017 285.786);*/
}

@theme inline {
	--font-sans: var(--font-noto-sans);
	--font-serif: var(--font-dm-serif-text);
	--font-title: var(--font-libre-baskerville);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-muted: var(--primary-muted);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary-muted: var(--secondary-muted);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	/*--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);*/
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	/*--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);*/

	/* custom */
	--shadow-card: 1px 4px 3px 0 #00000040;
	/* 430px */
	--breakpoint-sm: 26.875rem;
	/* 768px */
	--breakpoint-md: 48rem;
	/* 1280px */
	--breakpoint-lg: 80rem;
	/* 1920 px */
	--breakpoint-xl: 120rem;
}

@layer base {
	:root {
		interpolate-size: allow-keywords;
	}
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-sans;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	small {
		font-size: 14px;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply text-balance;
	}

	h1 {
		font-size: 42px;
		@apply font-serif;
		text-transform: uppercase;
		font-weight: bold;
	}

	h2,
	h3,
	h4 {
		@apply font-title text-foreground;
		font-weight: 500;
	}

	p {
		@apply text-foreground;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	}
}

.bg-primary {
	color: white;
	p {
		color: white;
	}
	h2 {
		color: white;
	}
}

@layer components {
	.distinguished {
		@apply text-primary font-sans font-semibold;
	}

	.notch-br {
		mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,0 L100,0 L100,84.5 Q100,88.5 96,88.5 L74,88.5 Q70,88.5 70,92.5 L70,95.5 Q70,100 66,100 L0,100 Z' fill='white'/></svg>");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
	}

	.notch-tr {
		mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,0 L48.8,0 Q52.8,0 52.8,4 L52.8,24 Q52.8,28 56.8,28 L96,28 Q100,28 100,32 L100,100 L0,100 Z' fill='white'/></svg>");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
	}

	.notch-tl {
		mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,24.7 L0,100 L100,100 L100,0 L44.5,0 Q40.5,0 40.5,4 L40.5,16.7 Q40.5,20.7 36.5,20.7 L4,20.7 Q0,20.7 0,24.7 Z' fill='white'/></svg>");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
	}

	.notch-bl {
		mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,0 L100,0 L100,100 L64,100 Q60,100 60,96 L60,83 Q60,79 56,79 L4,79 Q0,79 0,75 L0,0 Z' fill='white'/></svg>");
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
	}

	.section-default {
		@apply p-8 md:p-14 lg:p-20;
	}
}
