---
export const prerender = true
import EspaceCultureImg from '@/assets/imgs/espace-culture-nature.png'
import MyImage from '@/components/my-image.astro'
import { createTranslator, I18n } from '@/i18n/translations'
import Layout from '@/layouts/layout.astro'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
---

<Layout title={t('ACCUEIL_TITLE')}>
	<main>
		<section class="section-default">

		</section>

		<section class="section-default">
			<article class="grid grid-cols-2 gap-5">
				<div class="flex flex-col">
					<h2 class="text-secondary pb-3">{t('OU_NOUS_TROUVER_TITRE')}</h2>
					<p class="distinguished pb-16">{t('MAISON_DU_PARC')}</p>
					<div class="grid grid-cols-2 gap-5">
						<div class="bg-secondary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('HORAIRES')}</span> : Du lundi au samedi de 14h à 19h. Le dimanche de 17h à 19h.
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ADRESSE')}</span> : Salle des voûtes, Maison de la Valée, 24 Place Saint Clément,
									65120 LUZ-SAINT-SAUVEUR
								</li>
							</ul>
						</div>
						<div class="bg-secondary/20 px-5 py-8">
							<ul class="space-y-5">
								<li class="border-b border-black/20 px-5 pb-4">
									<span class="font-bold">{t('PARKING')}</span> : {t('PARKING_ADRESSE')}
								</li>

								<li class="px-5">
									<span class="font-bold">{t('ACCES_TRANSPORT_PUBLIC')}</span> : {t('ACCES_TRANSPORT_PUBLIC_DESC')}
								</li>
							</ul>
						</div>
					</div>
				</div>

				<iframe
					width="450"
					height="250"
					frameborder="0"
					style="border:0"
					referrerpolicy="no-referrer-when-downgrade"
					src="https://maps.app.goo.gl/9tKkT2gJVmbFuiLc9"
					allowfullscreen
				>
				</iframe>
			</article>
		</section>
	</main>
</Layout>
