---
import { NavigationMenuDemo } from '@/components/header-menu'
import { Button } from '@/components/ui/button'
import { createTranslator, I18n } from '@/i18n/translations'
import { getImage, Image } from 'astro:assets'
import { ArrowRightIcon } from 'lucide-react'
const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
import BastienImg from "@/assets/imgs/bastien.png";
import Bastien2Img from "@/assets/imgs/bastien2.png";
import type { MenuNav } from '@/types/menu'

// const optimizedBastienImg = await getImage({src: BastienImg, format: 'png'})
const optimizedBastien2Img = await getImage({src: Bastien2Img, format: 'png'})

const menuNavs: MenuNav[] = [
	{
		label: t('ESPACES_ARTISTIQUES'),
		subMenus: [
			{
				label: t('ART_VIVANT'),
				link: 'art-vivant',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('SPECTACLES'), link: 'art-vivant/spectacles' },
					{ label: t('SEANCES'), link: 'art-vivant/seances' },
					{ label: t('EVENEMENTS'), link: 'art-vivant/evenements' }
				]
			},
			{
				label: t('CINEMA'),
				link: 'cinema',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [{ label: t('RDV_CINE'), link: 'cinema/rdv-cine' }]
			},
			{
				label: t('MEDIATHEQUE'),
				link: 'mediatheque',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('BIBLIOTHEQUE'), link: 'mediatheque/bibliotheque' },
					{ label: t('LUDOBHEQUE'), link: 'mediatheque/ludotheque' },
					{ label: t('CYBER_BASE'), link: 'mediatheque/cyber-base' },
					{ label: t('AUTRES_MEDIAS'), link: 'mediatheque/autres-medias' }
				]
			},
			{
				label: t('EXPOSITION'),
				link: 'exposition',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('EXPOSITION_DU_MOMENT'), link: 'exposition/du-moment' },
					{ label: t('EVENEMENTS'), link: 'exposition/evenements' }
				]
			},
			{
				label: t('JEUNESSE'),
				link: 'jeunesse',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('SPECTACLES'), link: 'jeunesse/spectacles' },
					{ label: t('SEANCES'), link: 'jeunesse/seances' },
					{ label: t('EVENEMENTS'), link: 'jeunesse/evenements' }
				]
			},
			{
				label: t('ARTISTE'),
				link: 'artiste',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('RESIDENCE'), link: 'artiste/residence' },
					{ label: t('INFORMATIONS_TECHNIQUES'), link: 'artiste/informations-techniques' }
				]
			}
		]
	},
	{
		label: t('PARC_NATIONAL'),
		subMenus: [
			{
				label: t('PARC_NATIONAL'),
				link: 'art-vivant',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('PRESENTATION'), link: 'art-vivant/spectacles' },
					{ label: t('EVENEMENTS'), link: 'art-vivant/seances' },
					{ label: t('BOUTIQUE'), link: 'art-vivant/evenements' }
				]
			},
			{
				label: t('ACTUALITES'),
				link: 'cinema',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [{ label: t('AGENDA'), link: 'cinema/rdv-cine' }]
			},
			{
				label: t('INFORMATIONS_PRATIQUES'),
				link: 'mediatheque',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('HORAIRES'), link: 'mediatheque/bibliotheque' },
					{ label: t('TARIFICATIONS'), link: 'mediatheque/ludotheque' },
					{ label: t('OU_NOUS_TROUVER'), link: 'mediatheque/cyber-base' },
				]
			},
			{
				label: t('INFORMATIONS_GENERALES'),
				link: 'exposition',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('A_PROPOS'), link: 'exposition/du-moment' },
					{ label: t('L_EQUIPE'), link: 'exposition/evenements' },
					{ label: t('NOS_ENGAGEMENTS'), link: 'exposition/evenements' },
					{ label: t('NOS_PARTENAIRES'), link: 'exposition/evenements' }
				]
			},
			{
				label: t('ARCHIVES'),
				link: 'jeunesse',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('ANNEE_2025'), link: 'jeunesse/spectacles' },
					{ label: t('ANNEE_2024'), link: 'jeunesse/seances' },
					{ label: t('ANNEE_2025'), link: 'jeunesse/evenements' }
				]
			},
			{
				label: t('ARTISTE'),
				link: 'artiste',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('RESIDENCE'), link: 'artiste/residence' },
					{ label: t('INFORMATIONS_TECHNIQUES'), link: 'artiste/informations-techniques' }
				]
			}
		]
	},
	{
		label: t('ACTUALITES'),
		link: 'actualites',
	},
	{
		label: t('INFORMATIONS'),
		link: 'informations',
		subMenus: [
			{
				label: t('PARC_NATIONAL'),
				link: 'art-vivant',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('PRESENTATION'), link: 'art-vivant/spectacles' },
					{ label: t('EVENEMENTS'), link: 'art-vivant/seances' },
					{ label: t('BOUTIQUE'), link: 'art-vivant/evenements' }
				]
			},
			{
				label: t('ACTUALITES'),
				link: 'cinema',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [{ label: t('AGENDA'), link: 'cinema/rdv-cine' }]
			},
			{
				label: t('INFORMATIONS_PRATIQUES'),
				link: 'mediatheque',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('HORAIRES'), link: 'mediatheque/bibliotheque' },
					{ label: t('TARIFICATIONS'), link: 'mediatheque/ludotheque' },
					{ label: t('OU_NOUS_TROUVER'), link: 'mediatheque/cyber-base' },
				]
			},
			{
				label: t('INFORMATIONS_GENERALES'),
				link: 'exposition',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('A_PROPOS'), link: 'exposition/du-moment' },
					{ label: t('L_EQUIPE'), link: 'exposition/evenements' },
					{ label: t('NOS_ENGAGEMENTS'), link: 'exposition/evenements' },
					{ label: t('NOS_PARTENAIRES'), link: 'exposition/evenements' }
				]
			},
			{
				label: t('ARCHIVES'),
				link: 'jeunesse',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('ANNEE_2025'), link: 'jeunesse/spectacles' },
					{ label: t('ANNEE_2024'), link: 'jeunesse/seances' },
					{ label: t('ANNEE_2025'), link: 'jeunesse/evenements' }
				]
			},
			{
				label: t('ARTISTE'),
				link: 'artiste',
				image: BastienImg,
				imageReplacement: Bastien2Img,
				subMenus: [
					{ label: t('RESIDENCE'), link: 'artiste/residence' },
					{ label: t('INFORMATIONS_TECHNIQUES'), link: 'artiste/informations-techniques' }
				]
			}
		]
	},
	{
		label: t('ARCHIVES'),
		link: 'archives',
	},
]
---

<header class="mt-4 flex h-16 gap-4">
	<div class="flex h-full flex-1 justify-between bg-red-200 px-5 py-2">
		<a class="block" href="/"
			><Image
				src={BastienImg}
				width={100}
				height={50}
				alt="Logo MDV"
				  class="h-full object-contain"
			/></a
		>
		<NavigationMenuDemo menuNavs={menuNavs} client:load />
	</div>
	<Button className="h-full">Nous contacter <ArrowRightIcon /></Button>
</header>
