---
import { NavigationMenuDemo } from '@/components/header-menu'
import { LanguageSelect } from '@/components/language-select'
import { Button } from '@/components/ui/button'
import { createTranslator, I18n } from '@/i18n/translations'
import { getMenuNavs } from '@/lib/menu-navs'

import LogoImg from '@/assets/icons/logo-icon-only.svg'
import { ArrowRightIcon } from 'lucide-react'

const locale = (Astro.currentLocale || 'fr') as I18n
const t = createTranslator(locale)
const menuNavs = getMenuNavs(t)
const currentPath = Astro.url.pathname
---

<header class="mt-4 flex h-16 gap-4">
	<div class="bg-primary flex h-full flex-1 justify-between px-5 py-2">
		<a class="flex items-center justify-center" href="/"
			><img src={LogoImg.src} alt={t('LOGO_ALT')} loading="eager" class="w-15" /></a
		>
		<NavigationMenuDemo menuNavs={menuNavs} client:load />
	</div>
	<LanguageSelect client:load currentLocale={locale} currentPath={currentPath} />
	<Button link="/informations" variant={'secondary'} className="group h-full w-40"
		>{t('NOUS_CONTACTER')} <ArrowRightIcon className="transition-transform group-hover:translate-x-1" /></Button
	>
</header>
